# Default ignored files
/shelf/
# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db